<?xml version="1.0" encoding="UTF-8"?>

<!--
  Plugin configuration for the sessions debugger plugin.
-->
<plugin>
    <class>org.jivesoftware.openfire.plugin.DebuggerPlugin</class>
    <name>${project.name}</name>
    <description>${project.description}</description>
    <author>Ignite Realtime</author>
    <version>${project.version}</version>
    <date>12/04/2020</date>
    <minServerVersion>4.5.0</minServerVersion>
    <minJavaVersion>1.8</minJavaVersion>
    <csrfProtectionEnabled>true</csrfProtectionEnabled>

   <adminconsole>
      <tab id="tab-server">
         <sidebar id="sidebar-server-settings">
            <item id="debugger-conf"
                  name="XML Debugger Properties"
                  url="debugger-conf.jsp"
                  description="Edit XML debugger plugin properties" />
         </sidebar>
      </tab>
   </adminconsole>
</plugin>
